/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";



/* 
////////////////////////// Global /////////////////////////////////
*/



@font-face {
    font-family: proximaNova;
    src: url('../fonts/proximaNova/Proxima-Nova-Light.otf');
}

@font-face {
    font-family: proximaNovaBold;
    src: url('../fonts/proximaNova/Proxima-Nova-Bold.otf');
}

h1,h2,h3,h4,h5,p,span,ol, div{
	font-family: proximaNova;
	color: #646464; 
}

h1{
	font-family: proximaNova;
	font-size: 48px;
	line-height: 60px; 
	text-transform: uppercase;
	color: white; 
}

h2{
	font-family: proximaNova;
	font-size: 36px; 
	text-transform: uppercase;
	margin-bottom: .05em; 
}

h3{
	font-family: proximaNova;
}

h4{
	font-family: proximaNovaBold; 
}

p{
	line-height: 1.8em;
	font-size: 1em;
	font-family: proximaNova;
}

a{
	text-decoration: none;
}

.orangeButton{
	font-family: proximaNovaBold;
	font-size : .8em;
	background-color: #f37920;
	color : white;
	text-transform: uppercase;
	float : left;
	letter-spacing: .1em;
	margin-right: 1em; 
	padding : 1em 2em;
}

.modalButton{
	cursor: pointer;
}

.left{
	float: left; 
}

.right{
	float: right; 
}

.white{
	color: white; 
}

/* 
////// Global //////////
*/


body, html{
	position: relative;
	width: 100%; 
	height : 100%;
}

#wrapper{
	position: inherit;
	width : inherit;
	height : inherit;
	overflow-x : hidden;
	display: block;

	.modal{
		position: fixed;
		width: 100%; 
		height : 100%;
		z-index: 9999; 
		background : rgba(0,0,0,.8);
		display: none; 

		.modalContainers{
			width : 40%; 
			padding: 3%; 
			margin: 3% auto;
			display: none;  
			background: white; 

			.close{
				width : 29px;
				height : 29px; 
				background : url("../assets/global/NAV/white_x.png") no-repeat;
				float : right;
				margin : -3% -3% 0 0; 
			}

			.vidClose{
				margin-right : 0; 
			}

			h2{
				display: block;
				color: #646464; 
				clear : none; 
				width: 100%; 
				text-align: center; 
			}

			#sendMeAWrap{
				margin-bottom: 1em;
			}

			video{
				width: 100%;  
			}

			.accountImage{
				width : 8em;
				height : 8em;
				background-color: #e5e5e5;
				background-image: url('../assets/modals/blank_user.png');
				background-repeat: no-repeat;
				background-position: center; 
				border-radius: 4em 4em 4em 4em; 
				margin: 0 auto 2em; 
			}

			.freeTrialButton{
				width : 70%;
				padding : .9em 0;
				margin: 0 auto 4%; 
				text-align: center; 
				color: white;
				background : #f37920;
				text-transform: uppercase;
				font-family: proximaNovaBold;
				font-size : .8em;
			}

			.facebook{
				background: #3f589a;
			}

			p{
				display: block;
				color: #646464; 
				width: 80%; 
				text-align: center; 
				margin: 4% auto; 
			}

			span{
				color: #969696; 
				font-size : .8em;
				display: block;
				width: 70%; 
				margin: 0 auto; 

				a{
					color: #f37920;
					font-family: proximaNova;
					text-decoration: none; 
				}
			}

			.inputEmail,.inputPassword{
				margin: 0 15% 2em; 
				background : white; 
				border: 1px solid #ddd;
				font-family: proximaNova;
				color: #646464; 
				padding-left: 2%;
				width : 68%; 
				text-align: left; 
			}

			.inputPassword{
				margin: 0 15% .5em; 
			}

			.forgotPassword{
				color: #f37920;
				margin-bottom: 2em; 
			}

			.already{
				display: block; 
				padding: 1em; 
				width: 100%; 
				text-align: center; 
			}
		} 
	}	

	.navContainer{
		position: fixed;
		width: 80%;
		background : white;
		min-height: 3em; 
		z-index: 999;
		padding: 0 10%; 

		.navImages{
			padding : .8em 1.5em;
			float: left; 

			 img{
				height : 2.2em;
			}
		}

		.hamburger{
			display: none;

			.x{
				display: none;
			}
		}

		.navLogo{
			display: none;
		}


		.leftNav{
			position: relative;
			width: 100%; 
			margin: 0 auto; 

			ul{
				width : 100%; 

				li{
					font-family: proximaNovaBold;
					list-style: none; 
					list-style-type: none; 
					text-transform: uppercase;
					font-size: .7em; 
					float: left; 
					padding : 2.4em 4.3%;
					letter-spacing: .15em;
					color : #969696;
					cursor: pointer; 

					a{
						color : #969696;
					}
				}

				#logo{
					padding : 1.4em 4% 1.4em 1%;

					a{
						img{
							height : 2.8em;
						}
					}
				}

				

				&:nth-child(2){
					color : black;
				}

				#freeTrial{
				    color: white;
				    margin: 1.2em 0 1.2em 2%;
				    padding: 1em 1.7em;
				}
			}
		}
	}

	.background{
		position: fixed; 
		width: 100%; 
		height: 100%; 
		pointer-events : none;
		background-position: center; 
		background-size: cover;
		z-index: -1; 
	}

	.module{
		width: inherit;
		height: 100%;
		float: none;
		clear: both;
		background: white;

		.contentContainer{
			height: 100%; 
			width: 80%; 
			padding : 0 10%;
			

			.copy{
				display: table-cell;
				vertical-align: middle;
				width : 35%;
				color : white;

				h1{
					margin-bottom: .2em; 
				}

				p{
					margin-bottom: 1em; 
					width : 90%; 
					color : white; 
				}
			}
		}

		.heroContent{
			display: table;
			width: 55%; 
		}

		.titleContainers{
			width: 100%; 
			text-align: center; 
			padding : 3em 0;
			

			h1{
				color: #646464; 
			}
		}
	}

	.largeContainer{
		display: block;
		height : auto;
		clear : both;
		overflow: auto;

		.contentContainer{
			width : 80%; 
			margin : 3em auto;
			position: relative;
		}
	}

	.topHero{
	    background: none;
		display: table;
		height: 100%;  
		margin-top: 4em;
	}

	.shortHero{
		height : 50%; 
		width: 100%; 
		background-size: cover; 
	}

	.greenBack{
		background : #9cc737;
	}

	.subFooter{
		padding-bottom: 2em;
		height : auto;
		overflow: auto;
		background: #515151;

		.titleContainers{
			h2,p{
				color: white;
			}

			span{
				font-family: proximaNovaBold;
				font-size : .7em;
				color: #f37920;
			}
		}

		.wrapIsAboutContainer{
			width : 80%;
			height : inherit;
			margin: 0 auto; 

			ul{
				width : 100%;
				height : inherit;
				li{
					width: 27%; 
					float : left;
					margin : 0 3%;
					text-align: center;

					h2{
						font-size: 1.2em; 
						line-height: 1.3em;
						color : white;
					}

					p{
						color: white; 
						font-size: .7em; 
						line-height: 1.5em;
						height : 8em; 
						margin-bottom: 1em; 
					}

					span{
						font-family: proximaNovaBold;
						font-size : .7em;
						color: #f37920;
					}
					.subImageContainer{
						padding : 0 20%;
						min-height: 10em; 

						img{
							width : 100% 
						}
					}

					.home{
						min-height: 4em; 
					}

					.collab{
						padding : 0 10%;
					}
					
				}
			}
		}
	}

	/* 
		////////////////////////// HOME /////////////////////////////////
	*/

	.homeAbout{
		.contentContainer{
			.homeAboutHero{
				margin: -6em 0 0 -2em; 
				width : 62%;
				float: left; 

				img{
					width : 100%;
				}
			}

			.homeAboutCopyContainer{
				float: right; 
				padding: 10% 0 0 0;
				width: 40%;

				h2{
					color: #646464; 
					margin-bottom: .7em;
				}

				ol{
					font-family: proximaNovaBold;
					color: #f37920;
					font-size: .7em;
					margin: 1.5em 0;
					line-height: 1.7em; 
				} 

				img{
					width : 100%;
					margin-top: 2em; 
				} 
			}
		}
	}

	.howDoesItWork{
		overflow: hidden; 
		height: auto;
		padding-bottom: 5em;

		.contentContainer{
			.howDoesItWorkContainer{
				width : 100%; 

				ul{
					li{
						width : inherit;
						margin: 0 auto;
						padding-top: 4em;
						clear: both;
						height: 100%; 

						.copy{
							margin-top: 3em;
							width : 40%; 

							h2{
								margin-bottom: .1em;
							}

							img{
								width: 20%; 
								margin-bottom: 1em;
							}

							p{
								width: 100%;
								color: #646464; 
							}
						}

						.hero{
							width : 40%; 
							position: relative;

							img{
								width: 120%; 
							}

							.size{
								width: 130%;
							}

							.shareCar{
								display: block;
								width: 100%;
								height : 100%;
								overflow: hidden; 
								position: relative;
								

								.shareAssets{
									width: 75%; 
									min-height : 500px;
									float: left;
									overflow: hidden; 
									position: relative; 

									img{
										display: none; 
										width: 100%;
										height: inherit;
										position: absolute;

										&:first-child{
											display : block;
										}
									}
								}

								.arrows{
									position: relative;
									width : 5%;
									padding : 3%;
									float: left; 
									margin-top: 30%;
								}

								#first{
									display: block;
								}
							}

							.wrap-media-embed{
								width : 100%; 
							}
						}

						.heroShare{
							width: 50%; 
						}
						
					}

					.right{
						margin-right: 3em;
					} 

					.left{

					}
				}
			}
		}	
	}

	.carosel{
		background: #f1f1f1;
		height : 120%; 

		.caroselContainer{
			width : inherit;
			overflow: hidden; 
			position: relative;

			.carArrows{
				display: inline-block;
				position: absolute;
				opacity: 0;
				height : 28%;
				width  : 3%;
				z-index: 2; 
				overflow: hidden;
			}

			.leftArrow{
				background: rgba(255, 255, 255, .8) url("../assets/home/4_EXPLORE_WRAPS/arrow_left.png") no-repeat 40% center;
				padding-left : 2em;
				background-size: 40px 72px; 
			}

			.rightArrow{
				background: rgba(255, 255, 255, .8) url("../assets/home/4_EXPLORE_WRAPS/arrow_right.png") no-repeat 40% center;
				right : 0em;
				padding-right: 2em;
				background-size: 40px 72px; 
			}

			.absoluteContainer{
				height : 100%; 

				.cardContainer{
					position: relative;
					overflow: hidden; 
					width: auto;
					height: inherit;
					margin-bottom: 20%; 
					padding: 1% 0 5%; 

					.card{
						float : left;

						.wrap-media-embed{
							width : 100%;

						}
					}
				}
			}
		}
	}


	/* 
		////////////////////////// ABOUT /////////////////////////////////
	*/

	.aboutContainer{
		display: block; 
		height : auto;

		.contentContainer{
			display: block; 

			.aboutPeopleSectionContainer{
				margin: 2em 0;
				clear : both;
				width: 100%; 

				.aboutPeopleContainer{
					position: relative;
					margin: 2em 0; 			
					width: 100%; 
					overflow: auto;

					ul{
						height: inherit;

						li{
							float : left;
							width : 18%; 
							padding : 0 1.8% 1% 0;
							min-height: 100px; 
							text-align: center; 

							img{
								width: 100%; 
							}

							h4{
								text-transform: uppercase;
								font-size: 80%; 
								margin : 1% 0;
							}

							h5{
								text-transform: uppercase;
								text-align: center; 
								font-size: 70%; 
							}
						}

						.investors{
							width: 100%; 
						}
					}
				}

			}
		}
	}

	/* 
		////////////////////////// EXPLORE /////////////////////////////////
	*/

	.exploreHeroContent{
		.exploreContent{
			.copy{
				h1, p{
					color : #646464;
				}
			}
		}
	}

	.cardNavigation{
		margin-left: 10%; 
		width : 100%;
		margin-top: -2.4em; 
		position: absolute;
		z-index: 2; 

		.cardTitle{
			float: left; 
			cursor: pointer;
			margin-right: .2em; 
			background: rgba(63, 63, 67, .7); 
			color : rgba(175, 175, 175, 1);
			font-family: proximaNovaBold;
			text-transform: uppercase;
			font-size: .6em; 
			padding : 1.5em 3em;

			&:first-child{
				background: white; 
			}
		} 

		
	}

	.exploreContainer{
		.contentContainer{
			margin: 0em auto; 

			.wrapCoverContainer{
				width: 100%; 
				height : inherit;

				.wrapCovers{
					width: inherit; 
					height: inherit;
					display: none; 

					.card{
						float: left; 
						width : 24%;
						padding : .5%;

						img, .wrap-media-embed{
							width: 100%; 
						}
					}

					&:first-child{
						display: block; 
					}
				}
			}
		}
	}

	/* 
		////////////////////////// CONTACT /////////////////////////////////
	*/

	.contactContainer{
		.contentContainer{
			height: auto; 
			overflow: auto; 

			.addressContainer, questionsContainer{
				width : 20%;

				h2{
					margin-bottom: 1em; 
				}

				ol, p{
					color : #646464;
					font-size: .8em; 
					margin-bottom: .2em; 

					a{
						color: #f37920;
					}
				}
			}

			.map, .form{
				width : 70%;
				height: inherit;

				.mapIframe{
					width : 100%; 
					height : 25em; 
				}

				form{
					width: 100%; 

					.field{
						width: inherit;

						.formDescriptions{
							font-size: .7em; 
							width: 50%;
							margin-bottom: .3em 
						}

						input{
							clear : both;
							width: 96%; 
							padding : .7em;
							margin-bottom: .5em; 
						}

						textarea{
							width: 96%; 
							padding : .7em;
							border: 1px solid #ddd;
							height : 8em;
							margin-bottom: 2em; 
						}

						.required{
							text-align: right; 

						}

						.orange{
							color: #f37920;
						}
					}
				}
			}

			.questionsContainer{
				clear: both; 
				margin-top: 30em; 
				border-top : 1px solid #646464;
				padding-top : 5em;
			}
		}
	}

	/* 
		////////////////////////// CAREERS /////////////////////////////////
	*/



	.careersContainer{
		.careerNavigation{
			width : inherit;

			ul{
				width : 19em;
				margin: 0 auto; 
				li{
					float : left; 
					margin : 3em 1em;
					font-family: proximaNovaBold;
					color : #969696;
					text-transform: uppercase;
					font-size: .7em; 
				}
			}
		}

		.contentContainer{
			clear : both;

			.jobOpenings{
				width: 40%; 

				h2{
					font-size: 1.7em;
					margin-bottom: 1em; 
					line-height: 1.2em;
				}

				.sections{
					margin-bottom: 3em; 

					h2{
						font-size: 1.3em; 
						color: rgb(156,197,71);
					}

					h5{
						font-family: proximaNova;
						font-size: .5em; 
						color: #f37920;
						text-transform: uppercase;
						margin-bottom: .2em;
					}

					h4{
						font-family: proximaNovaBold;
						font-size: .8em; 
						color: black;
						text-transform: uppercase;
						margin-bottom: 2em;
					}
				}
			}

			.jobDescriptions{
				width: 50%;

				.sections{
					margin-bottom: 3em;

					h2{
						font-size: 1.7em;
						margin-bottom: 1em; 
						line-height: 1.2em;
					}

					p{
						font-size: .8em; 
						line-height: 1.7em;
					}

					ul{
						margin: 1em 1em; 
						li{
							font-family: proximaNova;
							font-size: .8em; 
							line-height: 1.7em;
							list-style: disc; 
							margin-bottom: .3em;
						}
					}
				}
			}
		}

		.finePrint{
			width: 100%; 
			clear: both;
			margin: 2em auto;
			font-family: proximaNova;
			font-size: .5em; 
			line-height: .9em; 
		}
	}

	.footer{
		background : #333;
		position: relative;

		.footerContainer{
			padding : 5% 21%;
			height: 10em;
			position: relative;

			.smallPrint{
				position: absolute;
				bottom : 2em;
				width: 100%;  
				font-size: .8em; 
				font-family: proximaNova;
				color: #b2b0b1; 

				span{
					padding-left: 3%;
					color : #f37920;
				}
			}

			.social{
				position: absolute;
				right : 7em;
				bottom : 4em;  
				

				img{
					width : 50px; 
					height : 50px; 
				}
			}
			.subNavContainer{
				width : 78%;
				margin : 0 auto; 

				.column{
					float : left;
					margin-right: 15%; 

					ul{
						li{
							font-family: proximaNovaBold;
							font-size : .7em;
							color: #908f8f;
							padding-bottom: 1em;
							text-transform: uppercase;

							&:first-child{
								color : white; 
								
							} 
						}
					}
				}
			}
			
		}

		.madeWithLove{
			float: none; 
			clear: both; 
			width: 100%; 
			height: auto; 
			text-align: center; 
			background: rgb(254, 254, 254); 
			position: relative;

			.birdContainer{
				position: absolute;
				width: 100%; 
				margin-top: -1em;

				.footerBird{
					display: block;
					margin: 0 auto;
				}
			}

			h3{
				padding: 3% 0 0; 
				text-transform: uppercase;
			}

			p{
				padding: 1%; 
			}
		}
	}

	/* 
		////////////////////////// HEROS /////////////////////////////////
	*/

	.homeHero{
		background-image: url("../assets/home/2_HERO/hero_pix.jpg"); 
		background-attachment: 'fixed';
		
	}

	.heroAbout{
		background-image: url("../assets/about/1_HERO/about_hero_pix.jpg"); 
		
	}

	.heroCareers{
		background-image: url("../assets/careers/HERO/hero_careers.jpg"); 
	}

	.heroExplore{
		background-image: url("../assets/explore/HERO/hero_explore.jpg"); 
		.contentContainer{
			.copy{
				h1, p{
					color : #646464;
				}
			}
		}
	}
}

@media handheld, screen and (max-width: 995px){

    h1{
    	font-size: 40px; 	
    	line-height: 44px; 
    }

    h2{
    	
    }	

    p{
    	
    }

    span{
    	
    }

    .orangeButton{
		font-size : .7em;
		letter-spacing: .1em;
		padding : 1em 1.5em;
	}

    #wrapper{
    	overflow-x : hidden;
    	-webkit-overflow-scrolling: touch;

    	.modal{
    		.modalContainers{
    			width: 90%;
    		}
    	}

    	.module{
    		background: white;

    		.contentContainer{
    			width: 90%; 
    			padding: 5%; 

    			
    		}

    		.titleContainers{
					padding : 3em 0;
				}
    	}

    	/* /////////// MOBILE NAV ////////// */

    	.navContainer{
			width: 100%;
			padding: 0;
			min-height: 3.8em;

			.navImages{
				 img{
					height : 2.2em;
				}
			}

			.hamburger{
				display: block;
				position: absolute;
				width: 3em; 
				height: 3em; 
				z-index: 99; 
				padding : .8em 2%;

				.x{
					position: absolute;
					padding: 0; 
					width: 2em; 
					height: 2em;
					z-index: 200; 
				}
			}

			.navLogo{
				width : inherit;
				display: block;
				padding: .8em 0; 

				a{
					img{
						display: block;
						margin: 0 auto; 
					}
				}
				
			}


			.leftNav{
				display: none; 
				font-family: proximaNova;
				font-size: 1.2em;
				position: fixed; 
				width : 100%;
				height : 100%;
				margin-left: 0;
				float : none;
				clear : both;
				color : white; 
				background : rgba(252,252,252,.95);
				z-index: 9; 

				ul{
					li{
						text-align: center; 
						width : 100%;
						padding: 3em 0; 
						float: none;
						clear: both;


					}

					#logo{

						padding: 1em 0 1em 0; 
							a{
								img{
									height : 2.6em;
								}
							}	
						} 

					#freeTrial{
						display: none;
					}

					
				}
			}

			.rightNav{
				width: 7%; 
				position: absolute;
				right : 3%; 

				ul{
					li{
						display: none; 

					}

					#login{
						display: block; 
						padding : 2.5em 3%;
					}
				}
			}
    	}

    	/* /////////// MOBILE GLOBAL ////////// */

    	.module{
    		height : auto;
    		width : 100%;
    	}

    	.topHero{
    		background: none;
    		height : 60%;
    		background-size: 150% 100%;
    		background-repeat: none;

    		.contentContainer{
    			height: 100%; 

	    		.copy{
	    			padding: 0; 
	    			width : 94%;
	    			text-align: center; 

	    			h1{
	    				margin-bottom: .1em; 
	    			}

	    			p{
	    				width: inherit;
	    			}

	    			.callToActionContainer{
	    				display: block;
	    				width : 18em;
	    				margin : 0 auto;
	    			}
	    		}
    		}
    	}

    	/* /////////// MOBILE HOME ////////// */

    	.homeAbout{
    		background : white;
    		height : auto;
    		overflow: auto;
			.contentContainer{
				height : auto;
				background : white;
				.homeAboutHero{
					margin: -2em 0 0 0; 
					width : 100%;
					float: left;
					height : 100%; 

					img{
						width : 100%;
						display: block;
					}
				}

				.homeAboutCopyContainer{
					height : 100%;
					float: right; 
					padding: 0 0 0 0;
					text-align: center;
					width: 100%;

					p{
						width: 100%;
					}

					img{
						display: block;
						width : 80%;
						margin : 2em auto;
					} 
				}
			}
		}

		.cardNavigation{
			margin-left: 1%; 
			width : 100%;
			margin-top: -2.4em; 
			position: absolute;

			.cardTitle{
				font-size: .6em; 
				padding : 1.5em 3%;
			} 		
		}

		.exploreContainer{
			.contentContainer{
				.wrapCoverContainer{
					.personal{
						.card{
							float: none; 
							width : 100%;
							padding : .5%;
						}
					}
				}
			}
		}

		.carosel{
			height: 105%;

			.titleContainers{
				padding : 3em 0 0;
			} 
			.caroselContainer{ 
				.carArrows{
					opacity: 1; 
				}

				.absoluteContainer{
					.cardContainer{
						overflow: hidden;

						.card{
							float : left;

							.wrap-media-embed{
								width : 100%;
							}
						}
					}
				}
			}
		}

    	.howDoesItWork{
			.contentContainer{
				height: inherit;
				.howDoesItWorkContainer{
					ul{
						height: 100%; 

						li{
							width : 100%;
							margin: 0 auto 2em;
							padding-top: 0;
							clear: both;
							height: 100%; 


							.copy{
								margin-top: 3em;
								width : 100%; 
								float: none;
								clear: both;

								h2{
									text-align: center;
								}

								img{
									display: block;
									width: 20%; 
									margin: 1em auto;
								}
							}

							.hero{
								width : 100%; 

								img{
									width: 100%; 
								}

								.size{
									width: 100%;
								}

								.shareCar{
									.shareAssets{
										width: 90%; 
									}

									.arrows{
										width : 3%;
										padding : 1%;
										margin-top: 45%;

										img{
											width: 100%; 
										}
									}
								}
							}


						}

						.right{
							margin-right: 0em;
						} 
					}
				}
			}	
		}

		.subFooter{
			height: auto; 
			overflow: auto; 

			.wrapIsAboutContainer{
				width: 100%; 
				
				ul{
					display: block; 
					margin-bottom: 2em; 
					
					li{
						float: none; 
						width: 80%;
						margin : 0; 
						padding: 2% 10%;  

						.subImageContainer{
							padding: 2em 20% .5em; 
						}

						p{
							line-height: 2em;	
						}
					}
				}
			}
		}

		/*///////// ABOUT MOBILE /////////*/

		.aboutContainer{
			.contentContainer{
				.aboutPeopleSectionContainer{
					.aboutPeopleContainer{			
						ul{
							li{
								float : left;
								width : 45%; 
								padding : 0 3% 3% 0;
								min-height: 100px; 
							}

							.investors{
								width: 100%; 
								float: none;
								clear: both;
							}
						}
					}
				}
			}
		}

		.contactContainer{
			.contentContainer{
				.addressContainer, questionsContainer{
					width : 100%;
					text-align: center;
				}

				.map, .form{
					width : 100%;
					height: inherit;

					form{
						margin-top: 1em;
					}
				}

				.questionsContainer{
					clear: both; 
					margin-top: 30em; 
					border-top : 1px solid #646464;
					padding-top : 5em;
				}
			}
		}

		/*///////// CAREERS MOBILE /////////*/


		.careersContainer{
			.careerNavigation{
				width : inherit;
				ul{
					margin: 0 auto; 
					li{
						margin : 3em 1em;
					}
				}
			}

			.contentContainer{
				.jobOpenings{
					float: none;
					width: 100%; 
					text-align: center; 
				}

				.jobDescriptions{
					width: 100%;
					float: none;
				}
			}
		}

		.footer{
			.footerContainer{
				padding : 15% 1%;
				height: 10em;

				.subNavContainer{
					width : 90%; 

					.column{
						float : left;
						margin: 0 5%; 

						ul{
							li{
								font-family: proximaNovaBold;
								font-size : .7em;
								color: #908f8f;
								padding-bottom: 1em;
								text-transform: uppercase;

								&:first-child{
									color : white; 
									
								} 
							}
						}
					}
				}

				.smallPrint{
					text-align: center; 
				}
			}

			.madeWithLove{
				padding : 2em 0;

				.birdContainer{
					margin-top: -3em; 
				}
			}
		}
    }
}
