/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

/* 
////// Global //////////
*/

h1{
	font-size: 1.5em; 
	text-transform: uppercase;
}

.orangeButton{
	background-color: #f37920;
	color : white;
	text-transform: uppercase;
	float : left;
	margin-right: 1em; 
	padding : .5em 2em;
}

.left{
	float: left; 
}

.right{
	float: right; 
}

/* 
////// Global //////////
*/


body, html{
	position: relative;
	width: 100%; 
	height : 100%;
}

#wrapper{
	position: inherit;
	width : inherit;
	height : inherit;

	.navContainer{
		position: relative;
		width: inherit;
		background : white;
		min-height: 3em; 

		.leftNav, .rightNav{
			float : left;
			width: 40%; 
			padding : 0 0 0 10%;

			ul{
				li{
					list-style: none; 
					list-style-type: none; 
					text-transform: uppercase;
					font-size: 1em; 
					float: left; 
					padding : 1em 1%;
				}
			}
		}

		.rightNav{
			float : right;
			padding : 0 5% 0 0;
			ul{
				li{
					float: right; 
				}
			}
		}
	}

	.module{
		width: inherit;
		height: 100%;
		float: none;
		clear: both;

		.titleContainers{
			width: 100%; 
			text-align: center; 
		}
	}

	.topHero{
		.copy{
			padding : 20% 0 0 15%;
		}
	}

	.about{
		.aboutHero{
			position: absolute;
		}

		.aboutCopyContainer{
			float: right; 
			padding: 10% 20% 0 0;
			width: 25%;  
		}
	}

	.howDoesItWork{
		width : inherit;

		.howDoesItWorkContainer{
			width : inherit;

			ul{
				li{
					width : 100%;

					.copy{
						width : 50%; 
					}

					.hero{
						width : 50%; 
					}
					
				}
			}
		}
	}

	.footer{
		background : #333;

		.footerContainer{
			padding : 5% 20%;
			height: 10em;
		}

		.column{
			float : left;
			margin-right: 6em; 

			ul{
				li{
					color: #908f8f;
					padding-bottom: .5em;
					text-transform: uppercase;

					&:first-child{
						color : white; 
						
					} 
				}
			}
		}
	}
}
