/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* 
////////////////////////// Global /////////////////////////////////
*/
@font-face {
  font-family: proximaNova;
  src: url("../fonts/proximaNova/Proxima-Nova-Light.otf");
}
@font-face {
  font-family: proximaNovaBold;
  src: url("../fonts/proximaNova/Proxima-Nova-Bold.otf");
}
/* line 26, ../sass/screen.scss */
h1, h2, h3, h4, h5, p, span, ol {
  font-family: proximaNova;
}

/* line 30, ../sass/screen.scss */
h1 {
  font-family: proximaNova;
  font-size: 2em;
  text-transform: uppercase;
}

/* line 36, ../sass/screen.scss */
h2 {
  font-family: proximaNova;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: .5em;
}

/* line 43, ../sass/screen.scss */
h4 {
  font-family: proximaNovaBold;
}

/* line 47, ../sass/screen.scss */
p {
  line-height: 1.5em;
}

/* line 51, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 55, ../sass/screen.scss */
.orangeButton {
  font-family: proximaNovaBold;
  font-size: .5em;
  background-color: #f37920;
  color: white;
  text-transform: uppercase;
  float: left;
  margin-right: 1em;
  padding: 1em 2em;
}

/* line 66, ../sass/screen.scss */
.left {
  float: left;
}

/* line 70, ../sass/screen.scss */
.right {
  float: right;
}

/* line 74, ../sass/screen.scss */
.white {
  color: white;
}

/* 
////// Global //////////
*/
/* line 83, ../sass/screen.scss */
body, html {
  position: relative;
  width: 100%;
  height: 100%;
}

/* line 89, ../sass/screen.scss */
#wrapper {
  position: inherit;
  width: inherit;
  height: inherit;
  /* 
  	////////////////////////// HEROS /////////////////////////////////
  */
  /* 
  	////////////////////////// HOME /////////////////////////////////
  */
  /* 
  	////////////////////////// ABOUT /////////////////////////////////
  */
  /* 
  	////////////////////////// CONTACT /////////////////////////////////
  */
  /* 
  	////////////////////////// CAREERS /////////////////////////////////
  */
}
/* line 94, ../sass/screen.scss */
#wrapper .navContainer {
  position: fixed;
  width: inherit;
  background: white;
  min-height: 3em;
  z-index: 999;
}
/* line 101, ../sass/screen.scss */
#wrapper .navContainer .leftNav, #wrapper .navContainer .rightNav {
  float: left;
  width: 45%;
  padding: 0 0 0 10%;
}
/* line 107, ../sass/screen.scss */
#wrapper .navContainer .leftNav ul li, #wrapper .navContainer .rightNav ul li {
  font-family: proximaNovaBold;
  list-style: none;
  list-style-type: none;
  text-transform: uppercase;
  font-size: .7em;
  float: left;
  padding: 2em 1.5em;
  color: #969696;
}
/* line 117, ../sass/screen.scss */
#wrapper .navContainer .leftNav ul li a, #wrapper .navContainer .rightNav ul li a {
  color: #969696;
}
/* line 122, ../sass/screen.scss */
#wrapper .navContainer .leftNav ul:nth-child(2), #wrapper .navContainer .rightNav ul:nth-child(2) {
  color: black;
}
/* line 126, ../sass/screen.scss */
#wrapper .navContainer .leftNav ul #navLogo, #wrapper .navContainer .rightNav ul #navLogo {
  padding: .8em 1.5em;
}
/* line 130, ../sass/screen.scss */
#wrapper .navContainer .leftNav ul #navLogo img, #wrapper .navContainer .rightNav ul #navLogo img {
  height: 3.2em;
}
/* line 137, ../sass/screen.scss */
#wrapper .navContainer .rightNav {
  width: 30%;
  float: right;
  padding: 0 5% 0 0;
}
/* line 142, ../sass/screen.scss */
#wrapper .navContainer .rightNav ul li {
  float: right;
}
/* line 149, ../sass/screen.scss */
#wrapper .module {
  width: inherit;
  height: 100%;
  float: none;
  clear: both;
}
/* line 155, ../sass/screen.scss */
#wrapper .module .titleContainers {
  width: 100%;
  text-align: center;
  padding: 2em 0;
}
/* line 162, ../sass/screen.scss */
#wrapper .largeContainer {
  display: block;
  height: auto;
  clear: both;
  overflow: auto;
}
/* line 168, ../sass/screen.scss */
#wrapper .largeContainer .contentContainer {
  width: 70%;
  margin: 3em auto;
  position: relative;
}
/* line 175, ../sass/screen.scss */
#wrapper .topHero {
  background-size: cover;
}
/* line 178, ../sass/screen.scss */
#wrapper .topHero .copy {
  padding: 20% 0 0 15%;
  width: 40%;
  color: white;
}
/* line 183, ../sass/screen.scss */
#wrapper .topHero .copy h1 {
  margin-bottom: .5em;
  height: 100%;
}
/* line 188, ../sass/screen.scss */
#wrapper .topHero .copy p {
  margin-bottom: 1em;
}
/* line 194, ../sass/screen.scss */
#wrapper .shortHero {
  height: 70%;
}
/* line 197, ../sass/screen.scss */
#wrapper .shortHero .copy {
  padding: 16% 0 0 15%;
}
/* line 202, ../sass/screen.scss */
#wrapper .greenBack {
  background: #9cc737;
}
/* line 206, ../sass/screen.scss */
#wrapper .subFooter {
  height: 70%;
  background: #515151;
  overflow: auto;
}
/* line 212, ../sass/screen.scss */
#wrapper .subFooter .titleContainers h1 {
  color: white;
}
/* line 216, ../sass/screen.scss */
#wrapper .subFooter .titleContainers span {
  font-family: proximaNovaBold;
  font-size: .7em;
  color: #f37920;
}
/* line 223, ../sass/screen.scss */
#wrapper .subFooter .wrapIsAboutContainer {
  width: 64%;
  height: inherit;
  margin: 0 auto;
}
/* line 228, ../sass/screen.scss */
#wrapper .subFooter .wrapIsAboutContainer ul {
  width: 100%;
  height: inherit;
}
/* line 231, ../sass/screen.scss */
#wrapper .subFooter .wrapIsAboutContainer ul li {
  width: 25%;
  float: left;
  margin: 0 2em;
  text-align: center;
}
/* line 237, ../sass/screen.scss */
#wrapper .subFooter .wrapIsAboutContainer ul li h2 {
  font-size: 1.2em;
  line-height: 1.3em;
  color: white;
}
/* line 243, ../sass/screen.scss */
#wrapper .subFooter .wrapIsAboutContainer ul li p {
  color: white;
  font-size: .7em;
  line-height: 1.5em;
  margin-bottom: 1em;
}
/* line 250, ../sass/screen.scss */
#wrapper .subFooter .wrapIsAboutContainer ul li span {
  font-family: proximaNovaBold;
  font-size: .7em;
  color: #f37920;
}
/* line 255, ../sass/screen.scss */
#wrapper .subFooter .wrapIsAboutContainer ul li .subImageContainer {
  padding: 0 20%;
  min-height: 10em;
}
/* line 259, ../sass/screen.scss */
#wrapper .subFooter .wrapIsAboutContainer ul li .subImageContainer img {
  width: 100%;
}
/* line 264, ../sass/screen.scss */
#wrapper .subFooter .wrapIsAboutContainer ul li .home {
  min-height: 4em;
}
/* line 268, ../sass/screen.scss */
#wrapper .subFooter .wrapIsAboutContainer ul li .collab {
  padding: 0 10%;
}
/* line 277, ../sass/screen.scss */
#wrapper .subFooterHome {
  height: 60%;
}
/* line 285, ../sass/screen.scss */
#wrapper .homeHero {
  background-image: url("../assets/home/2_HERO/hero_pix.jpg");
}
/* line 290, ../sass/screen.scss */
#wrapper .heroAbout {
  background-image: url("../assets/about/1_HERO/about_hero_pix.jpg");
}
/* line 295, ../sass/screen.scss */
#wrapper .heroCareers {
  background-image: url("../assets/careers/HERO/hero_careers.jpg");
}
/* line 303, ../sass/screen.scss */
#wrapper .homeAbout {
  width: 80%;
  margin: 0 auto;
}
/* line 307, ../sass/screen.scss */
#wrapper .homeAbout .homeAboutHero {
  margin-top: -6em;
  width: 60%;
  float: left;
}
/* line 312, ../sass/screen.scss */
#wrapper .homeAbout .homeAboutHero img {
  width: 100%;
}
/* line 317, ../sass/screen.scss */
#wrapper .homeAbout .homeAboutCopyContainer {
  float: right;
  padding: 10% 10% 0 0;
  width: 30%;
}
/* line 322, ../sass/screen.scss */
#wrapper .homeAbout .homeAboutCopyContainer ol {
  font-family: proximaNovaBold;
  color: #f37920;
  font-size: .7em;
  margin: 1.5em 0;
  line-height: 1.7em;
}
/* line 330, ../sass/screen.scss */
#wrapper .homeAbout .homeAboutCopyContainer img {
  width: 80%;
}
/* line 336, ../sass/screen.scss */
#wrapper .howDoesItWork {
  width: inherit;
}
/* line 339, ../sass/screen.scss */
#wrapper .howDoesItWork .howDoesItWorkContainer {
  width: inherit;
}
/* line 343, ../sass/screen.scss */
#wrapper .howDoesItWork .howDoesItWorkContainer ul li {
  width: 70%;
  margin: 0 auto;
  padding-top: 4em;
  clear: both;
}
/* line 349, ../sass/screen.scss */
#wrapper .howDoesItWork .howDoesItWorkContainer ul li .copy {
  width: 30%;
}
/* line 352, ../sass/screen.scss */
#wrapper .howDoesItWork .howDoesItWorkContainer ul li .copy img {
  width: 20%;
  margin-bottom: 1em;
}
/* line 358, ../sass/screen.scss */
#wrapper .howDoesItWork .howDoesItWorkContainer ul li .hero {
  width: 40%;
}
/* line 361, ../sass/screen.scss */
#wrapper .howDoesItWork .howDoesItWorkContainer ul li .hero img {
  width: 100%;
}
/* line 368, ../sass/screen.scss */
#wrapper .howDoesItWork .howDoesItWorkContainer ul .right {
  margin-right: 3em;
}
/* line 372, ../sass/screen.scss */
#wrapper .howDoesItWork .howDoesItWorkContainer ul .left {
  margin-left: 3em;
}
/* line 379, ../sass/screen.scss */
#wrapper .carosel {
  background: #f1f1f1;
}
/* line 382, ../sass/screen.scss */
#wrapper .carosel .caroselContainer {
  width: inherit;
  height: inherit;
  overflow: hidden;
}
/* line 387, ../sass/screen.scss */
#wrapper .carosel .caroselContainer .absoluteContainer {
  width: 200%;
  height: 80%;
}
/* line 390, ../sass/screen.scss */
#wrapper .carosel .caroselContainer .absoluteContainer ul {
  overflow: hidden;
  width: auto;
  height: inherit;
}
/* line 394, ../sass/screen.scss */
#wrapper .carosel .caroselContainer .absoluteContainer ul li {
  height: 100%;
  float: left;
}
/* line 398, ../sass/screen.scss */
#wrapper .carosel .caroselContainer .absoluteContainer ul li img {
  height: 100%;
}
/* line 407, ../sass/screen.scss */
#wrapper .wrapIsAbout {
  		/* 
  		height : 60%;
  		background: #515151;
  
  		.titleContainers{
  			h1{
  				color: white;
  			}
  		}
  
  		.wrapIsAboutContainer{
  			width : 64%;
  			height : inherit;
  			margin: 0 auto; 
  
  			ul{
  				width : 100%;
  				height : inherit;
  				li{
  					width: 25%; 
  					float : left;
  					margin : 0 2em;
  
  					h2{
  						font-size: 1.2em; 
  						line-height: 1.3em;
  						color : white;
  					}
  
  					p{
  						color: white; 
  						font-size: .7em; 
  						line-height: 1.5em; 
  						margin-bottom: 1em; 
  					}
  
  					span{
  						font-family: proximaNovaBold;
  						font-size : .7em;
  						color: #f37920;
  					}
  
  					img{
  						height : 40px;
  						margin-bottom: 1em; 
  					}
  				}
  			}
  		}
  		*/
}
/* line 465, ../sass/screen.scss */
#wrapper .aboutContainer {
  display: block;
  height: auto;
}
/* line 469, ../sass/screen.scss */
#wrapper .aboutContainer .contentContainer {
  display: block;
}
/* line 472, ../sass/screen.scss */
#wrapper .aboutContainer .contentContainer .aboutPeopleSectionContainer {
  margin: 2em 0;
  clear: both;
  width: 100%;
}
/* line 477, ../sass/screen.scss */
#wrapper .aboutContainer .contentContainer .aboutPeopleSectionContainer .aboutPeopleContainer {
  position: relative;
  margin: 2em 0;
  width: 100%;
  overflow: auto;
}
/* line 483, ../sass/screen.scss */
#wrapper .aboutContainer .contentContainer .aboutPeopleSectionContainer .aboutPeopleContainer ul {
  height: inherit;
}
/* line 486, ../sass/screen.scss */
#wrapper .aboutContainer .contentContainer .aboutPeopleSectionContainer .aboutPeopleContainer ul li {
  float: left;
  width: 18%;
  padding: 0 1.8% 1% 0;
  min-height: 100px;
  text-align: center;
}
/* line 493, ../sass/screen.scss */
#wrapper .aboutContainer .contentContainer .aboutPeopleSectionContainer .aboutPeopleContainer ul li img {
  width: 100%;
}
/* line 497, ../sass/screen.scss */
#wrapper .aboutContainer .contentContainer .aboutPeopleSectionContainer .aboutPeopleContainer ul li h4 {
  text-transform: uppercase;
  font-size: 80%;
  margin: 1% 0;
}
/* line 503, ../sass/screen.scss */
#wrapper .aboutContainer .contentContainer .aboutPeopleSectionContainer .aboutPeopleContainer ul li h5 {
  text-transform: uppercase;
  text-align: center;
  font-size: 70%;
}
/* line 510, ../sass/screen.scss */
#wrapper .aboutContainer .contentContainer .aboutPeopleSectionContainer .aboutPeopleContainer ul .investors {
  width: 100%;
}
/* line 525, ../sass/screen.scss */
#wrapper .contactContainer .contentContainer {
  height: auto;
  overflow: auto;
}
/* line 529, ../sass/screen.scss */
#wrapper .contactContainer .contentContainer .addressContainer, #wrapper .contactContainer .contentContainer questionsContainer {
  width: 20%;
}
/* line 532, ../sass/screen.scss */
#wrapper .contactContainer .contentContainer .addressContainer h2, #wrapper .contactContainer .contentContainer questionsContainer h2 {
  margin-bottom: 1em;
}
/* line 536, ../sass/screen.scss */
#wrapper .contactContainer .contentContainer .addressContainer ol, #wrapper .contactContainer .contentContainer .addressContainer p, #wrapper .contactContainer .contentContainer questionsContainer ol, #wrapper .contactContainer .contentContainer questionsContainer p {
  color: #646464;
  font-size: .8em;
  margin-bottom: .2em;
}
/* line 541, ../sass/screen.scss */
#wrapper .contactContainer .contentContainer .addressContainer ol a, #wrapper .contactContainer .contentContainer .addressContainer p a, #wrapper .contactContainer .contentContainer questionsContainer ol a, #wrapper .contactContainer .contentContainer questionsContainer p a {
  color: #f37920;
}
/* line 547, ../sass/screen.scss */
#wrapper .contactContainer .contentContainer .map, #wrapper .contactContainer .contentContainer .form {
  width: 70%;
  height: inherit;
}
/* line 551, ../sass/screen.scss */
#wrapper .contactContainer .contentContainer .map .mapIframe, #wrapper .contactContainer .contentContainer .form .mapIframe {
  width: 100%;
  height: 25em;
}
/* line 556, ../sass/screen.scss */
#wrapper .contactContainer .contentContainer .map form, #wrapper .contactContainer .contentContainer .form form {
  width: 100%;
}
/* line 559, ../sass/screen.scss */
#wrapper .contactContainer .contentContainer .map form .field, #wrapper .contactContainer .contentContainer .form form .field {
  width: inherit;
}
/* line 562, ../sass/screen.scss */
#wrapper .contactContainer .contentContainer .map form .field .formDescriptions, #wrapper .contactContainer .contentContainer .form form .field .formDescriptions {
  font-size: .7em;
  width: 50%;
  margin-bottom: 0.3em;
}
/* line 568, ../sass/screen.scss */
#wrapper .contactContainer .contentContainer .map form .field input, #wrapper .contactContainer .contentContainer .form form .field input {
  clear: both;
  width: 96%;
  padding: .7em;
  margin-bottom: .5em;
}
/* line 575, ../sass/screen.scss */
#wrapper .contactContainer .contentContainer .map form .field textarea, #wrapper .contactContainer .contentContainer .form form .field textarea {
  width: 96%;
  padding: .7em;
  border: 1px solid #ddd;
  height: 8em;
  margin-bottom: 2em;
}
/* line 583, ../sass/screen.scss */
#wrapper .contactContainer .contentContainer .map form .field .required, #wrapper .contactContainer .contentContainer .form form .field .required {
  text-align: right;
}
/* line 588, ../sass/screen.scss */
#wrapper .contactContainer .contentContainer .map form .field .orange, #wrapper .contactContainer .contentContainer .form form .field .orange {
  color: #f37920;
}
/* line 595, ../sass/screen.scss */
#wrapper .contactContainer .contentContainer .questionsContainer {
  clear: both;
  margin-top: 30em;
  border-top: 1px solid #646464;
  padding-top: 5em;
}
/* line 611, ../sass/screen.scss */
#wrapper .careersContainer .careerNavigation {
  width: inherit;
}
/* line 614, ../sass/screen.scss */
#wrapper .careersContainer .careerNavigation ul {
  width: 19em;
  margin: 0 auto;
}
/* line 617, ../sass/screen.scss */
#wrapper .careersContainer .careerNavigation ul li {
  float: left;
  margin: 3em 1em;
  font-family: proximaNovaBold;
  color: #969696;
  text-transform: uppercase;
  font-size: .7em;
}
/* line 628, ../sass/screen.scss */
#wrapper .careersContainer .contentContainer {
  clear: both;
}
/* line 631, ../sass/screen.scss */
#wrapper .careersContainer .contentContainer .jobOpenings {
  width: 40%;
}
/* line 634, ../sass/screen.scss */
#wrapper .careersContainer .contentContainer .jobOpenings h2 {
  font-size: 1.7em;
  margin-bottom: 1em;
  line-height: 1.2em;
}
/* line 640, ../sass/screen.scss */
#wrapper .careersContainer .contentContainer .jobOpenings .sections {
  margin-bottom: 3em;
}
/* line 643, ../sass/screen.scss */
#wrapper .careersContainer .contentContainer .jobOpenings .sections h2 {
  font-size: 1.3em;
  color: #9cc547;
}
/* line 648, ../sass/screen.scss */
#wrapper .careersContainer .contentContainer .jobOpenings .sections h5 {
  font-family: proximaNova;
  font-size: .5em;
  color: #f37920;
  text-transform: uppercase;
  margin-bottom: .2em;
}
/* line 656, ../sass/screen.scss */
#wrapper .careersContainer .contentContainer .jobOpenings .sections h4 {
  font-family: proximaNovaBold;
  font-size: .8em;
  color: black;
  text-transform: uppercase;
  margin-bottom: 2em;
}
/* line 666, ../sass/screen.scss */
#wrapper .careersContainer .contentContainer .jobDescriptions {
  width: 50%;
}
/* line 669, ../sass/screen.scss */
#wrapper .careersContainer .contentContainer .jobDescriptions .sections {
  margin-bottom: 3em;
}
/* line 672, ../sass/screen.scss */
#wrapper .careersContainer .contentContainer .jobDescriptions .sections h2 {
  font-size: 1.7em;
  margin-bottom: 1em;
  line-height: 1.2em;
}
/* line 678, ../sass/screen.scss */
#wrapper .careersContainer .contentContainer .jobDescriptions .sections p {
  font-size: .7em;
  line-height: 1.3em;
}
/* line 683, ../sass/screen.scss */
#wrapper .careersContainer .contentContainer .jobDescriptions .sections ul {
  margin: 1em 1em;
}
/* line 685, ../sass/screen.scss */
#wrapper .careersContainer .contentContainer .jobDescriptions .sections ul li {
  font-family: proximaNova;
  font-size: .7em;
  line-height: 1.2em;
  list-style: disc;
  margin-bottom: .3em;
}
/* line 697, ../sass/screen.scss */
#wrapper .careersContainer .finePrint {
  width: 70%;
  clear: both;
  margin: 2em auto;
  font-family: proximaNova;
  font-size: .5em;
  line-height: .9em;
}
/* line 707, ../sass/screen.scss */
#wrapper .footer {
  background: #333;
}
/* line 710, ../sass/screen.scss */
#wrapper .footer .footerContainer {
  padding: 5% 21%;
  height: 10em;
}
/* line 715, ../sass/screen.scss */
#wrapper .footer .column {
  float: left;
  margin-right: 6em;
}
/* line 720, ../sass/screen.scss */
#wrapper .footer .column ul li {
  font-family: proximaNovaBold;
  font-size: .7em;
  color: #908f8f;
  padding-bottom: 1em;
  text-transform: uppercase;
}
/* line 727, ../sass/screen.scss */
#wrapper .footer .column ul li:first-child {
  color: white;
}
