/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* 
////// Global //////////
*/
/* line 12, ../sass/screen.scss */
h1 {
  font-size: 1.5em;
  text-transform: uppercase;
}

/* line 17, ../sass/screen.scss */
.orangeButton {
  background-color: #f37920;
  color: white;
  text-transform: uppercase;
  float: left;
  margin-right: 1em;
  padding: .5em 2em;
}

/* line 26, ../sass/screen.scss */
.left {
  float: left;
}

/* line 30, ../sass/screen.scss */
.right {
  float: right;
}

/* 
////// Global //////////
*/
/* line 39, ../sass/screen.scss */
body, html {
  position: relative;
  width: 100%;
  height: 100%;
}

/* line 45, ../sass/screen.scss */
#wrapper {
  position: inherit;
  width: inherit;
  height: inherit;
}
/* line 50, ../sass/screen.scss */
#wrapper .navContainer {
  position: relative;
  width: inherit;
  background: white;
  min-height: 3em;
}
/* line 56, ../sass/screen.scss */
#wrapper .navContainer .leftNav, #wrapper .navContainer .rightNav {
  float: left;
  width: 40%;
  padding: 0 0 0 10%;
}
/* line 62, ../sass/screen.scss */
#wrapper .navContainer .leftNav ul li, #wrapper .navContainer .rightNav ul li {
  list-style: none;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 1em;
  float: left;
  padding: 1em 1%;
}
/* line 73, ../sass/screen.scss */
#wrapper .navContainer .rightNav {
  float: right;
  padding: 0 5% 0 0;
}
/* line 77, ../sass/screen.scss */
#wrapper .navContainer .rightNav ul li {
  float: right;
}
/* line 84, ../sass/screen.scss */
#wrapper .module {
  width: inherit;
  height: 100%;
  float: none;
  clear: both;
}
/* line 90, ../sass/screen.scss */
#wrapper .module .titleContainers {
  width: 100%;
  text-align: center;
}
/* line 97, ../sass/screen.scss */
#wrapper .topHero .copy {
  padding: 20% 0 0 15%;
}
/* line 103, ../sass/screen.scss */
#wrapper .about .aboutHero {
  position: absolute;
}
/* line 107, ../sass/screen.scss */
#wrapper .about .aboutCopyContainer {
  float: right;
  padding: 10% 20% 0 0;
  width: 25%;
}
/* line 114, ../sass/screen.scss */
#wrapper .howDoesItWork {
  width: inherit;
}
/* line 117, ../sass/screen.scss */
#wrapper .howDoesItWork .howDoesItWorkContainer {
  width: inherit;
}
/* line 121, ../sass/screen.scss */
#wrapper .howDoesItWork .howDoesItWorkContainer ul li {
  width: 100%;
}
/* line 124, ../sass/screen.scss */
#wrapper .howDoesItWork .howDoesItWorkContainer ul li .copy {
  width: 50%;
}
/* line 128, ../sass/screen.scss */
#wrapper .howDoesItWork .howDoesItWorkContainer ul li .hero {
  width: 50%;
}
/* line 137, ../sass/screen.scss */
#wrapper .footer {
  background: #333;
}
/* line 140, ../sass/screen.scss */
#wrapper .footer .footerContainer {
  padding: 5% 20%;
  height: 10em;
}
/* line 145, ../sass/screen.scss */
#wrapper .footer .column {
  float: left;
  margin-right: 6em;
}
/* line 150, ../sass/screen.scss */
#wrapper .footer .column ul li {
  color: #908f8f;
  padding-bottom: .5em;
  text-transform: uppercase;
}
/* line 155, ../sass/screen.scss */
#wrapper .footer .column ul li:first-child {
  color: white;
}
