/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* 
////////////////////////// Global /////////////////////////////////
*/
@font-face {
  font-family: proximaNova;
  src: url("../fonts/proximaNova/Proxima-Nova-Light.otf");
}
@font-face {
  font-family: proximaNovaBold;
  src: url("../fonts/proximaNova/Proxima-Nova-Bold.otf");
}
/* line 26, ../sass/screen.scss */
h1, h2, h3, h4, h5, p, span, ol, div {
  font-family: proximaNova;
  color: #646464;
}

/* line 31, ../sass/screen.scss */
h1 {
  font-family: proximaNova;
  font-size: 2.3em;
  text-transform: uppercase;
  color: white;
}

/* line 38, ../sass/screen.scss */
h2 {
  font-family: proximaNova;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: .5em;
}

/* line 45, ../sass/screen.scss */
h3 {
  font-family: proximaNova;
}

/* line 49, ../sass/screen.scss */
h4 {
  font-family: proximaNovaBold;
}

/* line 53, ../sass/screen.scss */
p {
  line-height: 1.8em;
  font-size: 1em;
  font-family: proximaNova;
}

/* line 59, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 63, ../sass/screen.scss */
.orangeButton {
  font-family: proximaNovaBold;
  font-size: .8em;
  background-color: #f37920;
  color: white;
  text-transform: uppercase;
  float: left;
  margin-right: 1em;
  padding: 1em 2em;
}

/* line 74, ../sass/screen.scss */
.modalButton {
  cursor: pointer;
}

/* line 78, ../sass/screen.scss */
.left {
  float: left;
}

/* line 82, ../sass/screen.scss */
.right {
  float: right;
}

/* line 86, ../sass/screen.scss */
.white {
  color: white;
}

/* 
////// Global //////////
*/
/* line 95, ../sass/screen.scss */
body, html {
  position: relative;
  width: 100%;
  height: 100%;
}

/* line 101, ../sass/screen.scss */
#wrapper {
  position: inherit;
  width: inherit;
  height: inherit;
  overflow-x: hidden;
  display: block;
  /* 
  	////////////////////////// HOME /////////////////////////////////
  */
  /* 
  	////////////////////////// ABOUT /////////////////////////////////
  */
  /* 
  	////////////////////////// EXPLORE /////////////////////////////////
  */
  /* 
  	////////////////////////// CONTACT /////////////////////////////////
  */
  /* 
  	////////////////////////// CAREERS /////////////////////////////////
  */
  /* 
  	////////////////////////// HEROS /////////////////////////////////
  */
}
/* line 108, ../sass/screen.scss */
#wrapper .modal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}
/* line 116, ../sass/screen.scss */
#wrapper .modal .modalContainers {
  width: 60%;
  margin: 5% auto;
  display: none;
}
/* line 121, ../sass/screen.scss */
#wrapper .modal .modalContainers .close {
  width: 29px;
  height: 29px;
  background: url("../assets/global/NAV/white_x.png") no-repeat;
  float: right;
  margin-right: 20%;
}
/* line 129, ../sass/screen.scss */
#wrapper .modal .modalContainers .vidClose {
  margin-right: 0;
}
/* line 133, ../sass/screen.scss */
#wrapper .modal .modalContainers h2 {
  display: block;
  color: white;
  clear: none;
  margin: 0 0 1em;
  padding-top: 2em;
  width: 100%;
  text-align: center;
}
/* line 143, ../sass/screen.scss */
#wrapper .modal .modalContainers video {
  width: 100%;
}
/* line 147, ../sass/screen.scss */
#wrapper .modal .modalContainers .freeTrialButton {
  width: 60%;
  padding: .9em 0;
  margin: 0 auto 1em;
  text-align: center;
  color: white;
  background: #f37920;
  text-transform: uppercase;
  font-family: proximaNovaBold;
  font-size: .8em;
}
/* line 159, ../sass/screen.scss */
#wrapper .modal .modalContainers .facebook {
  background: #3f589a;
}
/* line 163, ../sass/screen.scss */
#wrapper .modal .modalContainers p {
  color: white;
  width: 100%;
  text-align: center;
  margin: 1em 0;
}
/* line 170, ../sass/screen.scss */
#wrapper .modal .modalContainers span {
  color: #969696;
  font-size: .8em;
  display: block;
  width: 60%;
  margin: 0 auto;
}
/* line 177, ../sass/screen.scss */
#wrapper .modal .modalContainers span a {
  color: white;
  font-family: proximaNovaBold;
  font-weight: bold;
  text-decoration: none;
}
/* line 185, ../sass/screen.scss */
#wrapper .modal .modalContainers .inputEmail {
  margin: 0 20% 1em;
  background: white;
  border: none;
}
/* line 191, ../sass/screen.scss */
#wrapper .modal .modalContainers .already {
  display: block;
  padding: 1em;
  width: 100%;
  text-align: center;
}
/* line 200, ../sass/screen.scss */
#wrapper .navContainer {
  position: fixed;
  width: 74%;
  background: white;
  min-height: 3em;
  z-index: 999;
  padding: 0 13%;
}
/* line 208, ../sass/screen.scss */
#wrapper .navContainer .navImages {
  padding: .8em 1.5em;
  float: left;
}
/* line 212, ../sass/screen.scss */
#wrapper .navContainer .navImages img {
  height: 2.2em;
}
/* line 217, ../sass/screen.scss */
#wrapper .navContainer .hamburger {
  display: none;
}
/* line 220, ../sass/screen.scss */
#wrapper .navContainer .hamburger .x {
  display: none;
}
/* line 226, ../sass/screen.scss */
#wrapper .navContainer .leftNav, #wrapper .navContainer .rightNav {
  position: absolute;
  width: 50%;
}
/* line 230, ../sass/screen.scss */
#wrapper .navContainer .leftNav ul, #wrapper .navContainer .rightNav ul {
  width: 100%;
}
/* line 233, ../sass/screen.scss */
#wrapper .navContainer .leftNav ul li, #wrapper .navContainer .rightNav ul li {
  font-family: proximaNovaBold;
  list-style: none;
  list-style-type: none;
  text-transform: uppercase;
  font-size: .7em;
  float: left;
  padding: 2.4em 3%;
  color: #969696;
  cursor: pointer;
}
/* line 244, ../sass/screen.scss */
#wrapper .navContainer .leftNav ul li a, #wrapper .navContainer .rightNav ul li a {
  color: #969696;
}
/* line 249, ../sass/screen.scss */
#wrapper .navContainer .leftNav ul:nth-child(2), #wrapper .navContainer .rightNav ul:nth-child(2) {
  color: black;
}
/* line 255, ../sass/screen.scss */
#wrapper .navContainer .leftNav {
  margin-left: 7.9em;
}
/* line 259, ../sass/screen.scss */
#wrapper .navContainer .rightNav {
  right: 15%;
  width: 25%;
}
/* line 265, ../sass/screen.scss */
#wrapper .navContainer .rightNav ul li {
  float: right;
  padding: 2.4em 10%;
}
/* line 270, ../sass/screen.scss */
#wrapper .navContainer .rightNav ul #freeTrial {
  color: white;
  margin: 1.2em 0;
  padding: 1em 1.7em;
}
/* line 279, ../sass/screen.scss */
#wrapper .module {
  width: inherit;
  height: 100%;
  float: none;
  clear: both;
}
/* line 285, ../sass/screen.scss */
#wrapper .module .contentContainer {
  height: 100%;
  width: 70%;
  padding: 0 15%;
}
/* line 291, ../sass/screen.scss */
#wrapper .module .contentContainer .copy {
  display: table-cell;
  vertical-align: middle;
  width: 35%;
  color: white;
}
/* line 297, ../sass/screen.scss */
#wrapper .module .contentContainer .copy h1 {
  margin-bottom: .2em;
}
/* line 301, ../sass/screen.scss */
#wrapper .module .contentContainer .copy p {
  margin-bottom: 1em;
  width: 50%;
  color: white;
}
/* line 309, ../sass/screen.scss */
#wrapper .module .heroContent {
  display: table;
}
/* line 313, ../sass/screen.scss */
#wrapper .module .titleContainers {
  width: 100%;
  text-align: center;
  padding: 3em 0;
}
/* line 319, ../sass/screen.scss */
#wrapper .module .titleContainers h1 {
  color: #646464;
}
/* line 325, ../sass/screen.scss */
#wrapper .largeContainer {
  display: block;
  height: auto;
  clear: both;
  overflow: auto;
}
/* line 331, ../sass/screen.scss */
#wrapper .largeContainer .contentContainer {
  width: 70%;
  margin: 3em auto;
  position: relative;
}
/* line 338, ../sass/screen.scss */
#wrapper .topHero {
  background-size: cover;
  background-position: 0 0;
  display: table;
  height: 100%;
  margin-top: 4em;
}
/* line 346, ../sass/screen.scss */
#wrapper .shortHero {
  height: 50%;
  width: 100%;
  background-size: cover;
}
/* line 352, ../sass/screen.scss */
#wrapper .greenBack {
  background: #9cc737;
}
/* line 356, ../sass/screen.scss */
#wrapper .subFooter {
  padding-bottom: 2em;
  height: auto;
  overflow: auto;
  background: #515151;
}
/* line 363, ../sass/screen.scss */
#wrapper .subFooter .titleContainers h1, #wrapper .subFooter .titleContainers p {
  color: white;
}
/* line 367, ../sass/screen.scss */
#wrapper .subFooter .titleContainers span {
  font-family: proximaNovaBold;
  font-size: .7em;
  color: #f37920;
}
/* line 374, ../sass/screen.scss */
#wrapper .subFooter .wrapIsAboutContainer {
  width: 80%;
  height: inherit;
  margin: 0 auto;
}
/* line 379, ../sass/screen.scss */
#wrapper .subFooter .wrapIsAboutContainer ul {
  width: 100%;
  height: inherit;
}
/* line 382, ../sass/screen.scss */
#wrapper .subFooter .wrapIsAboutContainer ul li {
  width: 27%;
  float: left;
  margin: 0 3%;
  text-align: center;
}
/* line 388, ../sass/screen.scss */
#wrapper .subFooter .wrapIsAboutContainer ul li h2 {
  font-size: 1.2em;
  line-height: 1.3em;
  color: white;
}
/* line 394, ../sass/screen.scss */
#wrapper .subFooter .wrapIsAboutContainer ul li p {
  color: white;
  font-size: .7em;
  line-height: 1.5em;
  height: 8em;
  margin-bottom: 1em;
}
/* line 402, ../sass/screen.scss */
#wrapper .subFooter .wrapIsAboutContainer ul li span {
  font-family: proximaNovaBold;
  font-size: .7em;
  color: #f37920;
}
/* line 407, ../sass/screen.scss */
#wrapper .subFooter .wrapIsAboutContainer ul li .subImageContainer {
  padding: 0 20%;
  min-height: 10em;
}
/* line 411, ../sass/screen.scss */
#wrapper .subFooter .wrapIsAboutContainer ul li .subImageContainer img {
  width: 100%;
}
/* line 416, ../sass/screen.scss */
#wrapper .subFooter .wrapIsAboutContainer ul li .home {
  min-height: 4em;
}
/* line 420, ../sass/screen.scss */
#wrapper .subFooter .wrapIsAboutContainer ul li .collab {
  padding: 0 10%;
}
/* line 435, ../sass/screen.scss */
#wrapper .homeAbout .contentContainer .homeAboutHero {
  margin: -6em 0 0 -2em;
  width: 62%;
  float: left;
}
/* line 440, ../sass/screen.scss */
#wrapper .homeAbout .contentContainer .homeAboutHero img {
  width: 100%;
}
/* line 445, ../sass/screen.scss */
#wrapper .homeAbout .contentContainer .homeAboutCopyContainer {
  float: right;
  padding: 10% 0 0 0;
  width: 40%;
}
/* line 450, ../sass/screen.scss */
#wrapper .homeAbout .contentContainer .homeAboutCopyContainer h1 {
  color: #646464;
  margin-bottom: .2em;
}
/* line 455, ../sass/screen.scss */
#wrapper .homeAbout .contentContainer .homeAboutCopyContainer ol {
  font-family: proximaNovaBold;
  color: #f37920;
  font-size: .7em;
  margin: 1.5em 0;
  line-height: 1.7em;
}
/* line 463, ../sass/screen.scss */
#wrapper .homeAbout .contentContainer .homeAboutCopyContainer img {
  width: 100%;
  margin-top: 2em;
}
/* line 471, ../sass/screen.scss */
#wrapper .howDoesItWork {
  overflow: hidden;
  height: auto;
  margin-bottom: 5em;
}
/* line 477, ../sass/screen.scss */
#wrapper .howDoesItWork .contentContainer .howDoesItWorkContainer {
  width: 100%;
}
/* line 481, ../sass/screen.scss */
#wrapper .howDoesItWork .contentContainer .howDoesItWorkContainer ul li {
  width: inherit;
  margin: 0 auto;
  padding-top: 4em;
  clear: both;
  height: 100%;
}
/* line 488, ../sass/screen.scss */
#wrapper .howDoesItWork .contentContainer .howDoesItWorkContainer ul li .copy {
  margin-top: 3em;
  width: 30%;
}
/* line 492, ../sass/screen.scss */
#wrapper .howDoesItWork .contentContainer .howDoesItWorkContainer ul li .copy img {
  width: 20%;
  margin-bottom: 1em;
}
/* line 497, ../sass/screen.scss */
#wrapper .howDoesItWork .contentContainer .howDoesItWorkContainer ul li .copy p {
  width: 100%;
  color: #646464;
}
/* line 503, ../sass/screen.scss */
#wrapper .howDoesItWork .contentContainer .howDoesItWorkContainer ul li .hero {
  width: 40%;
  position: relative;
}
/* line 507, ../sass/screen.scss */
#wrapper .howDoesItWork .contentContainer .howDoesItWorkContainer ul li .hero img {
  width: 120%;
}
/* line 511, ../sass/screen.scss */
#wrapper .howDoesItWork .contentContainer .howDoesItWorkContainer ul li .hero .size {
  width: 130%;
}
/* line 515, ../sass/screen.scss */
#wrapper .howDoesItWork .contentContainer .howDoesItWorkContainer ul li .hero .shareCar {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
/* line 523, ../sass/screen.scss */
#wrapper .howDoesItWork .contentContainer .howDoesItWorkContainer ul li .hero .shareCar .shareAssets {
  width: 75%;
  min-height: 400px;
  float: left;
  overflow: hidden;
  position: relative;
}
/* line 530, ../sass/screen.scss */
#wrapper .howDoesItWork .contentContainer .howDoesItWorkContainer ul li .hero .shareCar .shareAssets img {
  display: none;
  width: 100%;
  height: inherit;
  position: absolute;
  z-index: -1;
}
/* line 537, ../sass/screen.scss */
#wrapper .howDoesItWork .contentContainer .howDoesItWorkContainer ul li .hero .shareCar .shareAssets img:first-child {
  display: block;
}
/* line 543, ../sass/screen.scss */
#wrapper .howDoesItWork .contentContainer .howDoesItWorkContainer ul li .hero .shareCar .arrows {
  position: relative;
  width: 5%;
  padding: 3%;
  float: left;
  margin-top: 30%;
}
/* line 551, ../sass/screen.scss */
#wrapper .howDoesItWork .contentContainer .howDoesItWorkContainer ul li .hero .shareCar #first {
  display: block;
}
/* line 556, ../sass/screen.scss */
#wrapper .howDoesItWork .contentContainer .howDoesItWorkContainer ul li .hero .wrap-media-embed {
  width: 100%;
}
/* line 561, ../sass/screen.scss */
#wrapper .howDoesItWork .contentContainer .howDoesItWorkContainer ul li .heroShare {
  width: 50%;
}
/* line 567, ../sass/screen.scss */
#wrapper .howDoesItWork .contentContainer .howDoesItWorkContainer ul .right {
  margin-right: 3em;
}
/* line 579, ../sass/screen.scss */
#wrapper .carosel {
  background: #f1f1f1;
  height: 120%;
}
/* line 583, ../sass/screen.scss */
#wrapper .carosel .caroselContainer {
  width: inherit;
  overflow: hidden;
  position: relative;
}
/* line 588, ../sass/screen.scss */
#wrapper .carosel .caroselContainer .carArrows {
  display: inline-block;
  position: absolute;
  opacity: 0;
  height: 28%;
  width: 3%;
  z-index: 2;
  overflow: hidden;
}
/* line 598, ../sass/screen.scss */
#wrapper .carosel .caroselContainer .leftArrow {
  background: rgba(255, 255, 255, 0.8) url("../assets/home/4_EXPLORE_WRAPS/arrow_left.png") no-repeat 40% center;
  padding-left: 2em;
  background-size: 40px 72px;
}
/* line 604, ../sass/screen.scss */
#wrapper .carosel .caroselContainer .rightArrow {
  background: rgba(255, 255, 255, 0.8) url("../assets/home/4_EXPLORE_WRAPS/arrow_right.png") no-repeat 40% center;
  right: 0em;
  padding-right: 2em;
  background-size: 40px 72px;
}
/* line 611, ../sass/screen.scss */
#wrapper .carosel .caroselContainer .absoluteContainer {
  height: 100%;
}
/* line 614, ../sass/screen.scss */
#wrapper .carosel .caroselContainer .absoluteContainer .cardContainer {
  position: relative;
  overflow: hidden;
  width: auto;
  height: inherit;
  margin-bottom: 20%;
  padding: 1% 0 5%;
}
/* line 622, ../sass/screen.scss */
#wrapper .carosel .caroselContainer .absoluteContainer .cardContainer .card {
  float: left;
}
/* line 625, ../sass/screen.scss */
#wrapper .carosel .caroselContainer .absoluteContainer .cardContainer .card .wrap-media-embed {
  width: 100%;
}
/* line 640, ../sass/screen.scss */
#wrapper .aboutContainer {
  display: block;
  height: auto;
}
/* line 644, ../sass/screen.scss */
#wrapper .aboutContainer .contentContainer {
  display: block;
}
/* line 647, ../sass/screen.scss */
#wrapper .aboutContainer .contentContainer .aboutPeopleSectionContainer {
  margin: 2em 0;
  clear: both;
  width: 100%;
}
/* line 652, ../sass/screen.scss */
#wrapper .aboutContainer .contentContainer .aboutPeopleSectionContainer .aboutPeopleContainer {
  position: relative;
  margin: 2em 0;
  width: 100%;
  overflow: auto;
}
/* line 658, ../sass/screen.scss */
#wrapper .aboutContainer .contentContainer .aboutPeopleSectionContainer .aboutPeopleContainer ul {
  height: inherit;
}
/* line 661, ../sass/screen.scss */
#wrapper .aboutContainer .contentContainer .aboutPeopleSectionContainer .aboutPeopleContainer ul li {
  float: left;
  width: 18%;
  padding: 0 1.8% 1% 0;
  min-height: 100px;
  text-align: center;
}
/* line 668, ../sass/screen.scss */
#wrapper .aboutContainer .contentContainer .aboutPeopleSectionContainer .aboutPeopleContainer ul li img {
  width: 100%;
}
/* line 672, ../sass/screen.scss */
#wrapper .aboutContainer .contentContainer .aboutPeopleSectionContainer .aboutPeopleContainer ul li h4 {
  text-transform: uppercase;
  font-size: 80%;
  margin: 1% 0;
}
/* line 678, ../sass/screen.scss */
#wrapper .aboutContainer .contentContainer .aboutPeopleSectionContainer .aboutPeopleContainer ul li h5 {
  text-transform: uppercase;
  text-align: center;
  font-size: 70%;
}
/* line 685, ../sass/screen.scss */
#wrapper .aboutContainer .contentContainer .aboutPeopleSectionContainer .aboutPeopleContainer ul .investors {
  width: 100%;
}
/* line 699, ../sass/screen.scss */
#wrapper .cardNavigation {
  margin-left: 15%;
  width: 100%;
  margin-top: -2.4em;
  position: absolute;
  z-index: 2;
}
/* line 706, ../sass/screen.scss */
#wrapper .cardNavigation .cardTitle {
  float: left;
  cursor: pointer;
  margin-right: .2em;
  background: rgba(63, 63, 67, 0.7);
  color: #afafaf;
  font-family: proximaNovaBold;
  text-transform: uppercase;
  font-size: .6em;
  padding: 1.5em 3em;
}
/* line 717, ../sass/screen.scss */
#wrapper .cardNavigation .cardTitle:first-child {
  background: white;
}
/* line 726, ../sass/screen.scss */
#wrapper .exploreContainer .contentContainer {
  margin: 0em auto;
}
/* line 729, ../sass/screen.scss */
#wrapper .exploreContainer .contentContainer .wrapCoverContainer {
  width: 100%;
  height: inherit;
}
/* line 733, ../sass/screen.scss */
#wrapper .exploreContainer .contentContainer .wrapCoverContainer .wrapCovers {
  width: inherit;
  height: inherit;
  display: none;
}
/* line 738, ../sass/screen.scss */
#wrapper .exploreContainer .contentContainer .wrapCoverContainer .wrapCovers .card {
  float: left;
  width: 24%;
  padding: .5%;
}
/* line 743, ../sass/screen.scss */
#wrapper .exploreContainer .contentContainer .wrapCoverContainer .wrapCovers .card img, #wrapper .exploreContainer .contentContainer .wrapCoverContainer .wrapCovers .card .wrap-media-embed {
  width: 100%;
}
/* line 748, ../sass/screen.scss */
#wrapper .exploreContainer .contentContainer .wrapCoverContainer .wrapCovers:first-child {
  display: block;
}
/* line 761, ../sass/screen.scss */
#wrapper .contactContainer .contentContainer {
  height: auto;
  overflow: auto;
}
/* line 765, ../sass/screen.scss */
#wrapper .contactContainer .contentContainer .addressContainer, #wrapper .contactContainer .contentContainer questionsContainer {
  width: 20%;
}
/* line 768, ../sass/screen.scss */
#wrapper .contactContainer .contentContainer .addressContainer h2, #wrapper .contactContainer .contentContainer questionsContainer h2 {
  margin-bottom: 1em;
}
/* line 772, ../sass/screen.scss */
#wrapper .contactContainer .contentContainer .addressContainer ol, #wrapper .contactContainer .contentContainer .addressContainer p, #wrapper .contactContainer .contentContainer questionsContainer ol, #wrapper .contactContainer .contentContainer questionsContainer p {
  color: #646464;
  font-size: .8em;
  margin-bottom: .2em;
}
/* line 777, ../sass/screen.scss */
#wrapper .contactContainer .contentContainer .addressContainer ol a, #wrapper .contactContainer .contentContainer .addressContainer p a, #wrapper .contactContainer .contentContainer questionsContainer ol a, #wrapper .contactContainer .contentContainer questionsContainer p a {
  color: #f37920;
}
/* line 783, ../sass/screen.scss */
#wrapper .contactContainer .contentContainer .map, #wrapper .contactContainer .contentContainer .form {
  width: 70%;
  height: inherit;
}
/* line 787, ../sass/screen.scss */
#wrapper .contactContainer .contentContainer .map .mapIframe, #wrapper .contactContainer .contentContainer .form .mapIframe {
  width: 100%;
  height: 25em;
}
/* line 792, ../sass/screen.scss */
#wrapper .contactContainer .contentContainer .map form, #wrapper .contactContainer .contentContainer .form form {
  width: 100%;
}
/* line 795, ../sass/screen.scss */
#wrapper .contactContainer .contentContainer .map form .field, #wrapper .contactContainer .contentContainer .form form .field {
  width: inherit;
}
/* line 798, ../sass/screen.scss */
#wrapper .contactContainer .contentContainer .map form .field .formDescriptions, #wrapper .contactContainer .contentContainer .form form .field .formDescriptions {
  font-size: .7em;
  width: 50%;
  margin-bottom: 0.3em;
}
/* line 804, ../sass/screen.scss */
#wrapper .contactContainer .contentContainer .map form .field input, #wrapper .contactContainer .contentContainer .form form .field input {
  clear: both;
  width: 96%;
  padding: .7em;
  margin-bottom: .5em;
}
/* line 811, ../sass/screen.scss */
#wrapper .contactContainer .contentContainer .map form .field textarea, #wrapper .contactContainer .contentContainer .form form .field textarea {
  width: 96%;
  padding: .7em;
  border: 1px solid #ddd;
  height: 8em;
  margin-bottom: 2em;
}
/* line 819, ../sass/screen.scss */
#wrapper .contactContainer .contentContainer .map form .field .required, #wrapper .contactContainer .contentContainer .form form .field .required {
  text-align: right;
}
/* line 824, ../sass/screen.scss */
#wrapper .contactContainer .contentContainer .map form .field .orange, #wrapper .contactContainer .contentContainer .form form .field .orange {
  color: #f37920;
}
/* line 831, ../sass/screen.scss */
#wrapper .contactContainer .contentContainer .questionsContainer {
  clear: both;
  margin-top: 30em;
  border-top: 1px solid #646464;
  padding-top: 5em;
}
/* line 847, ../sass/screen.scss */
#wrapper .careersContainer .careerNavigation {
  width: inherit;
}
/* line 850, ../sass/screen.scss */
#wrapper .careersContainer .careerNavigation ul {
  width: 19em;
  margin: 0 auto;
}
/* line 853, ../sass/screen.scss */
#wrapper .careersContainer .careerNavigation ul li {
  float: left;
  margin: 3em 1em;
  font-family: proximaNovaBold;
  color: #969696;
  text-transform: uppercase;
  font-size: .7em;
}
/* line 864, ../sass/screen.scss */
#wrapper .careersContainer .contentContainer {
  clear: both;
}
/* line 867, ../sass/screen.scss */
#wrapper .careersContainer .contentContainer .jobOpenings {
  width: 40%;
}
/* line 870, ../sass/screen.scss */
#wrapper .careersContainer .contentContainer .jobOpenings h2 {
  font-size: 1.7em;
  margin-bottom: 1em;
  line-height: 1.2em;
}
/* line 876, ../sass/screen.scss */
#wrapper .careersContainer .contentContainer .jobOpenings .sections {
  margin-bottom: 3em;
}
/* line 879, ../sass/screen.scss */
#wrapper .careersContainer .contentContainer .jobOpenings .sections h2 {
  font-size: 1.3em;
  color: #9cc547;
}
/* line 884, ../sass/screen.scss */
#wrapper .careersContainer .contentContainer .jobOpenings .sections h5 {
  font-family: proximaNova;
  font-size: .5em;
  color: #f37920;
  text-transform: uppercase;
  margin-bottom: .2em;
}
/* line 892, ../sass/screen.scss */
#wrapper .careersContainer .contentContainer .jobOpenings .sections h4 {
  font-family: proximaNovaBold;
  font-size: .8em;
  color: black;
  text-transform: uppercase;
  margin-bottom: 2em;
}
/* line 902, ../sass/screen.scss */
#wrapper .careersContainer .contentContainer .jobDescriptions {
  width: 50%;
}
/* line 905, ../sass/screen.scss */
#wrapper .careersContainer .contentContainer .jobDescriptions .sections {
  margin-bottom: 3em;
}
/* line 908, ../sass/screen.scss */
#wrapper .careersContainer .contentContainer .jobDescriptions .sections h2 {
  font-size: 1.7em;
  margin-bottom: 1em;
  line-height: 1.2em;
}
/* line 914, ../sass/screen.scss */
#wrapper .careersContainer .contentContainer .jobDescriptions .sections p {
  font-size: .7em;
  line-height: 1.3em;
}
/* line 919, ../sass/screen.scss */
#wrapper .careersContainer .contentContainer .jobDescriptions .sections ul {
  margin: 1em 1em;
}
/* line 921, ../sass/screen.scss */
#wrapper .careersContainer .contentContainer .jobDescriptions .sections ul li {
  font-family: proximaNova;
  font-size: .7em;
  line-height: 1.2em;
  list-style: disc;
  margin-bottom: .3em;
}
/* line 933, ../sass/screen.scss */
#wrapper .careersContainer .finePrint {
  width: 100%;
  clear: both;
  margin: 2em auto;
  font-family: proximaNova;
  font-size: .5em;
  line-height: .9em;
}
/* line 943, ../sass/screen.scss */
#wrapper .footer {
  background: #333;
  position: relative;
}
/* line 947, ../sass/screen.scss */
#wrapper .footer .footerContainer {
  padding: 5% 21%;
  height: 10em;
  position: relative;
}
/* line 952, ../sass/screen.scss */
#wrapper .footer .footerContainer .smallPrint {
  position: absolute;
  bottom: 2em;
  width: 100%;
  font-size: .8em;
  font-family: proximaNova;
  color: #b2b0b1;
}
/* line 960, ../sass/screen.scss */
#wrapper .footer .footerContainer .smallPrint span {
  padding-left: 3%;
  color: #f37920;
}
/* line 966, ../sass/screen.scss */
#wrapper .footer .footerContainer .social {
  position: absolute;
  right: 7em;
  bottom: 4em;
}
/* line 972, ../sass/screen.scss */
#wrapper .footer .footerContainer .social img {
  width: 50px;
  height: 50px;
}
/* line 977, ../sass/screen.scss */
#wrapper .footer .footerContainer .subNavContainer {
  width: 78%;
  margin: 0 auto;
}
/* line 981, ../sass/screen.scss */
#wrapper .footer .footerContainer .subNavContainer .column {
  float: left;
  margin-right: 15%;
}
/* line 986, ../sass/screen.scss */
#wrapper .footer .footerContainer .subNavContainer .column ul li {
  font-family: proximaNovaBold;
  font-size: .7em;
  color: #908f8f;
  padding-bottom: 1em;
  text-transform: uppercase;
}
/* line 993, ../sass/screen.scss */
#wrapper .footer .footerContainer .subNavContainer .column ul li:first-child {
  color: white;
}
/* line 1004, ../sass/screen.scss */
#wrapper .footer .madeWithLove {
  float: none;
  clear: both;
  width: 100%;
  height: auto;
  text-align: center;
  background: #fefefe;
  position: relative;
}
/* line 1013, ../sass/screen.scss */
#wrapper .footer .madeWithLove .birdContainer {
  position: absolute;
  width: 100%;
  margin-top: -1em;
}
/* line 1018, ../sass/screen.scss */
#wrapper .footer .madeWithLove .birdContainer .footerBird {
  display: block;
  margin: 0 auto;
}
/* line 1024, ../sass/screen.scss */
#wrapper .footer .madeWithLove h3 {
  padding: 3% 0 0;
  text-transform: uppercase;
}
/* line 1029, ../sass/screen.scss */
#wrapper .footer .madeWithLove p {
  padding: 1%;
}
/* line 1039, ../sass/screen.scss */
#wrapper .homeHero {
  background-image: url("../assets/home/2_HERO/hero_pix.jpg");
  background-attachment: 'fixed';
}
/* line 1045, ../sass/screen.scss */
#wrapper .heroAbout {
  background-image: url("../assets/about/1_HERO/about_hero_pix.jpg");
}
/* line 1050, ../sass/screen.scss */
#wrapper .heroCareers {
  background-image: url("../assets/careers/HERO/hero_careers.jpg");
}
/* line 1054, ../sass/screen.scss */
#wrapper .heroExplore {
  background-image: url("../assets/explore/HERO/hero_explore.jpg");
}
/* line 1058, ../sass/screen.scss */
#wrapper .heroExplore .contentContainer .copy h1, #wrapper .heroExplore .contentContainer .copy p {
  color: #646464;
}

@media handheld, screen and (max-width: 995px) {
  /* line 1088, ../sass/screen.scss */
  #wrapper {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    /* /////////// MOBILE NAV ////////// */
    /* /////////// MOBILE GLOBAL ////////// */
    /* /////////// MOBILE HOME ////////// */
    /*///////// ABOUT MOBILE /////////*/
    /*///////// CAREERS MOBILE /////////*/
  }
  /* line 1093, ../sass/screen.scss */
  #wrapper .modal .modalContainers {
    width: 90%;
  }
  /* line 1099, ../sass/screen.scss */
  #wrapper .module .contentContainer {
    width: 90%;
    padding: 5%;
  }
  /* line 1106, ../sass/screen.scss */
  #wrapper .module .titleContainers {
    padding: 3em 0;
  }
  /* line 1113, ../sass/screen.scss */
  #wrapper .navContainer {
    width: 100%;
    padding: 0;
    min-height: 3.8em;
  }
  /* line 1119, ../sass/screen.scss */
  #wrapper .navContainer .navImages img {
    height: 2.2em;
  }
  /* line 1124, ../sass/screen.scss */
  #wrapper .navContainer .hamburger {
    display: block;
    position: absolute;
    width: 3em;
    height: 3em;
    z-index: 99;
    padding: .8em 2%;
  }
  /* line 1132, ../sass/screen.scss */
  #wrapper .navContainer .hamburger .x {
    position: absolute;
    padding: 0;
    margin: -1em 0;
    font-size: 3em;
    color: white;
    z-index: 200;
  }
  /* line 1142, ../sass/screen.scss */
  #wrapper .navContainer .navLogo {
    width: inherit;
    padding: .8em 0;
  }
  /* line 1147, ../sass/screen.scss */
  #wrapper .navContainer .navLogo a img {
    display: block;
    margin: 0 auto;
  }
  /* line 1156, ../sass/screen.scss */
  #wrapper .navContainer .leftNav {
    display: none;
    font-family: proximaNova;
    font-size: 1.2em;
    position: fixed;
    width: 100%;
    height: 100%;
    margin-left: 0;
    float: none;
    clear: both;
    color: white;
    background: rgba(0, 0, 0, 0.9);
    z-index: 9;
  }
  /* line 1171, ../sass/screen.scss */
  #wrapper .navContainer .leftNav ul li {
    text-align: center;
    width: 100%;
    padding: 3em 0;
    float: none;
    clear: both;
    border: 1px solid #111;
  }
  /* line 1182, ../sass/screen.scss */
  #wrapper .navContainer .rightNav {
    width: 7%;
    position: absolute;
    right: 3%;
  }
  /* line 1188, ../sass/screen.scss */
  #wrapper .navContainer .rightNav ul li {
    display: none;
  }
  /* line 1193, ../sass/screen.scss */
  #wrapper .navContainer .rightNav ul #login {
    display: block;
    padding: 2.5em 3%;
  }
  /* line 1203, ../sass/screen.scss */
  #wrapper .module {
    height: auto;
    width: 100%;
  }
  /* line 1208, ../sass/screen.scss */
  #wrapper .topHero {
    height: 60%;
    background-size: 150% 100%;
    background-repeat: none;
  }
  /* line 1213, ../sass/screen.scss */
  #wrapper .topHero .contentContainer {
    height: 100%;
  }
  /* line 1216, ../sass/screen.scss */
  #wrapper .topHero .contentContainer .copy {
    position: absolute;
    height: auto;
    bottom: 45%;
    padding: 0;
    width: 94%;
    text-align: center;
  }
  /* line 1224, ../sass/screen.scss */
  #wrapper .topHero .contentContainer .copy h1 {
    margin-bottom: .1em;
  }
  /* line 1228, ../sass/screen.scss */
  #wrapper .topHero .contentContainer .copy p {
    width: inherit;
  }
  /* line 1232, ../sass/screen.scss */
  #wrapper .topHero .contentContainer .copy .callToActionContainer {
    display: block;
    width: 20em;
    margin: 0 auto;
  }
  /* line 1245, ../sass/screen.scss */
  #wrapper .homeAbout .contentContainer .homeAboutHero {
    margin: -2em 0 0 0;
    width: 100%;
    float: left;
  }
  /* line 1250, ../sass/screen.scss */
  #wrapper .homeAbout .contentContainer .homeAboutHero img {
    width: 100%;
  }
  /* line 1255, ../sass/screen.scss */
  #wrapper .homeAbout .contentContainer .homeAboutCopyContainer {
    float: right;
    padding: 0 0 0 0;
    text-align: center;
    width: 100%;
  }
  /* line 1261, ../sass/screen.scss */
  #wrapper .homeAbout .contentContainer .homeAboutCopyContainer p {
    width: 100%;
  }
  /* line 1265, ../sass/screen.scss */
  #wrapper .homeAbout .contentContainer .homeAboutCopyContainer img {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  /* line 1274, ../sass/screen.scss */
  #wrapper .cardNavigation {
    margin-left: 1%;
    width: 100%;
    margin-top: -2.4em;
    position: absolute;
  }
  /* line 1280, ../sass/screen.scss */
  #wrapper .cardNavigation .cardTitle {
    font-size: .6em;
    padding: 1.5em 5%;
  }
  /* line 1290, ../sass/screen.scss */
  #wrapper .exploreContainer .contentContainer .wrapCoverContainer .personal .card {
    float: none;
    width: 100%;
    padding: .5%;
  }
  /* line 1300, ../sass/screen.scss */
  #wrapper .carosel {
    height: 80%;
  }
  /* line 1303, ../sass/screen.scss */
  #wrapper .carosel .caroselContainer .absoluteContainer {
    margin-left: -11em;
    width: 500em;
  }
  /* line 1307, ../sass/screen.scss */
  #wrapper .carosel .caroselContainer .absoluteContainer .cardContainer {
    overflow: hidden;
  }
  /* line 1311, ../sass/screen.scss */
  #wrapper .carosel .caroselContainer .absoluteContainer .cardContainer .card {
    width: 15em;
    float: left;
  }
  /* line 1315, ../sass/screen.scss */
  #wrapper .carosel .caroselContainer .absoluteContainer .cardContainer .card .wrap-media-embed {
    width: 100%;
  }
  /* line 1325, ../sass/screen.scss */
  #wrapper .howDoesItWork .contentContainer {
    height: inherit;
  }
  /* line 1328, ../sass/screen.scss */
  #wrapper .howDoesItWork .contentContainer .howDoesItWorkContainer ul {
    height: 100%;
  }
  /* line 1331, ../sass/screen.scss */
  #wrapper .howDoesItWork .contentContainer .howDoesItWorkContainer ul li {
    width: 100%;
    margin: 0 auto 2em;
    padding-top: 0;
    clear: both;
    height: 100%;
  }
  /* line 1339, ../sass/screen.scss */
  #wrapper .howDoesItWork .contentContainer .howDoesItWorkContainer ul li .copy {
    margin-top: 3em;
    width: 100%;
    float: none;
    clear: both;
  }
  /* line 1345, ../sass/screen.scss */
  #wrapper .howDoesItWork .contentContainer .howDoesItWorkContainer ul li .copy h2 {
    text-align: center;
  }
  /* line 1349, ../sass/screen.scss */
  #wrapper .howDoesItWork .contentContainer .howDoesItWorkContainer ul li .copy img {
    display: block;
    width: 20%;
    margin: 1em auto;
  }
  /* line 1356, ../sass/screen.scss */
  #wrapper .howDoesItWork .contentContainer .howDoesItWorkContainer ul li .hero {
    width: 100%;
  }
  /* line 1359, ../sass/screen.scss */
  #wrapper .howDoesItWork .contentContainer .howDoesItWorkContainer ul li .hero img {
    width: 100%;
  }
  /* line 1363, ../sass/screen.scss */
  #wrapper .howDoesItWork .contentContainer .howDoesItWorkContainer ul li .hero .size {
    width: 100%;
  }
  /* line 1368, ../sass/screen.scss */
  #wrapper .howDoesItWork .contentContainer .howDoesItWorkContainer ul li .hero .shareCar .shareAssets {
    width: 90%;
  }
  /* line 1372, ../sass/screen.scss */
  #wrapper .howDoesItWork .contentContainer .howDoesItWorkContainer ul li .hero .shareCar .arrows {
    width: 3%;
    padding: 1%;
    margin-top: 45%;
  }
  /* line 1377, ../sass/screen.scss */
  #wrapper .howDoesItWork .contentContainer .howDoesItWorkContainer ul li .hero .shareCar .arrows img {
    width: 100%;
  }
  /* line 1387, ../sass/screen.scss */
  #wrapper .howDoesItWork .contentContainer .howDoesItWorkContainer ul .right {
    margin-right: 0em;
  }
  /* line 1395, ../sass/screen.scss */
  #wrapper .subFooter {
    height: auto;
    overflow: auto;
  }
  /* line 1399, ../sass/screen.scss */
  #wrapper .subFooter .wrapIsAboutContainer {
    width: 100%;
  }
  /* line 1402, ../sass/screen.scss */
  #wrapper .subFooter .wrapIsAboutContainer ul {
    display: block;
    margin-bottom: 2em;
  }
  /* line 1406, ../sass/screen.scss */
  #wrapper .subFooter .wrapIsAboutContainer ul li {
    float: none;
    width: 80%;
    margin: 0;
    padding: 2% 10%;
  }
  /* line 1412, ../sass/screen.scss */
  #wrapper .subFooter .wrapIsAboutContainer ul li .subImageContainer {
    padding: 2em 20% .5em;
  }
  /* line 1416, ../sass/screen.scss */
  #wrapper .subFooter .wrapIsAboutContainer ul li p {
    line-height: 2em;
  }
  /* line 1431, ../sass/screen.scss */
  #wrapper .aboutContainer .contentContainer .aboutPeopleSectionContainer .aboutPeopleContainer ul li {
    float: left;
    width: 45%;
    padding: 0 3% 3% 0;
    min-height: 100px;
  }
  /* line 1438, ../sass/screen.scss */
  #wrapper .aboutContainer .contentContainer .aboutPeopleSectionContainer .aboutPeopleContainer ul .investors {
    width: 100%;
    float: none;
    clear: both;
  }
  /* line 1451, ../sass/screen.scss */
  #wrapper .contactContainer .contentContainer .addressContainer, #wrapper .contactContainer .contentContainer questionsContainer {
    width: 100%;
    text-align: center;
  }
  /* line 1456, ../sass/screen.scss */
  #wrapper .contactContainer .contentContainer .map, #wrapper .contactContainer .contentContainer .form {
    width: 100%;
    height: inherit;
  }
  /* line 1460, ../sass/screen.scss */
  #wrapper .contactContainer .contentContainer .map form, #wrapper .contactContainer .contentContainer .form form {
    margin-top: 1em;
  }
  /* line 1465, ../sass/screen.scss */
  #wrapper .contactContainer .contentContainer .questionsContainer {
    clear: both;
    margin-top: 30em;
    border-top: 1px solid #646464;
    padding-top: 5em;
  }
  /* line 1478, ../sass/screen.scss */
  #wrapper .careersContainer .careerNavigation {
    width: inherit;
  }
  /* line 1480, ../sass/screen.scss */
  #wrapper .careersContainer .careerNavigation ul {
    margin: 0 auto;
  }
  /* line 1482, ../sass/screen.scss */
  #wrapper .careersContainer .careerNavigation ul li {
    margin: 3em 1em;
  }
  /* line 1489, ../sass/screen.scss */
  #wrapper .careersContainer .contentContainer .jobOpenings {
    float: none;
    width: 100%;
    text-align: center;
  }
  /* line 1495, ../sass/screen.scss */
  #wrapper .careersContainer .contentContainer .jobDescriptions {
    width: 100%;
    float: none;
  }
  /* line 1503, ../sass/screen.scss */
  #wrapper .footer .footerContainer {
    padding: 15% 5%;
    height: 10em;
  }
  /* line 1507, ../sass/screen.scss */
  #wrapper .footer .footerContainer .column {
    float: left;
    margin: 0 6%;
  }
  /* line 1512, ../sass/screen.scss */
  #wrapper .footer .footerContainer .column ul li {
    font-family: proximaNovaBold;
    font-size: .7em;
    color: #908f8f;
    padding-bottom: 1em;
    text-transform: uppercase;
  }
  /* line 1519, ../sass/screen.scss */
  #wrapper .footer .footerContainer .column ul li:first-child {
    color: white;
  }
}
